
$color-black: #131518;
$color-gray: #c2c2c2;
$color-gray-light: #f2f2f2;
$color-accent: #35c092;

h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem
}
h3{
    font-size: 1.5rem
}
h4{
    font-size: 1.19rem
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
}

body{
    font-family: 'Poppins', sans-serif;
}