@import "../base/variables";

.item-main{

    & .item-container{
        margin: 4rem 3rem;
        & .item-container-img{
               
            & .item-img{
                width: 42rem;
            }
        }
        & .item-info{
            margin-left: 2rem;

            & .item-info-price{
                padding: 1rem 0;
                font-weight: 300;
            }

            & .item-form{
                margin: 1rem 0;
                max-width: 40rem;
                gap: 0.5rem;
                flex-wrap: wrap;
                justify-content: flex-start;
                & .size-btn{
                    width: 8rem;
                    height: 2.8rem;
                    text-align: center;
                    color: white;
                    position: relative;
    
                    & .checkmark-container{
                        background-color: $color-black;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        line-height: 25px;
                    }
    
                    &.size-btn input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 9rem;
                        height: 3rem;
                        opacity: 0;
                        cursor: pointer;
                    }
    
                    &:hover input ~ .checkmark-container{
                        background-color: $color-accent;
                    }
    
                    & input[type=checkbox]:checked ~ .checkmark-container {
                        background-color: $color-accent;
                      }
                }

                & .cart-btn{
                    background-color: $color-gray-light;
                    width: 16.5rem;
                    height: 5rem;
                    outline: none;
                    border: none;
                    color: white;
                    margin-top: 1rem;
                }
                & .cart-btn:enabled{
                    background-color: $color-black;
                    &:hover:enabled{
                        background-color: $color-accent;
                        cursor: pointer;
                    }
                }
            }
        }

        & .item-description{
            padding-top: 1rem 0 2rem 0;
            & h3{
                padding: 1rem 0;
            }
        }
    }
}

@media screen and (max-width: 1190px) {
    .item-container-div{
        flex-wrap: wrap;
        & .item-info{
            margin: 0;
            max-width: 42rem;
        }
    }
}

@media screen and (max-width: 700px) {
    .item-main{
        & .item-container-div{
            & .item-container-img{
                & .item-img{
                    width: 30rem;
                 }
            }
            & .item-info{
                margin: 0;
                max-width: 30rem;
                & .item-form{
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 570px) {
    .item-main{
        & .item-container{
            margin: 0;
            & .item-container-div{
                
                & .item-container-img{
                    & .item-img{
                        width: 22rem;
                     }
                }
                & .item-info{
                    margin: 0 0.5rem;
                    max-width: 22rem;
                }
            }
        }

    }
}
