
.modal{
    min-width: 31rem;
    min-height: 20rem;
    background-color: $color-gray-light;
    color: $color-black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 100;
    top: 20rem;

    & .modal-btn{
        color: $color-accent;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
    & img{
        width: 100%;
    }
    & .modal-info-container{
        width: 15rem;
        margin: 0 auto;
        padding: 2rem 0;
    }
}

@media screen and (max-width: 600px) {
    .modal{
        min-width: 20rem;
    }
}