
.products-list{
    margin-bottom: 9rem;
    list-style-type: none;
    flex-wrap: wrap;
    & li{
        width: 21.5rem;
        margin: 0.8rem;

        & img{
            width: 100%;
            &:hover{
                cursor: pointer;
            }
        }
        & h4{
            margin-top: 1rem;
        }
    }
}